
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Simple Blog</title>
    <style>
        a{
            color:#0094ff;
            text-decoration:none;
          
        }
        a:hover{
            color:#14649d;
        }
    </style>
</head>
<body>
    <header>
        <h1>
           <a href="@Url.RouteUrl("Home")">  Simple Blog </a>
        </h1>
        <a href="@Url.RouteUrl("login")">  Login </a>
    </header>
   
    @RenderBody()
    <footer>
        &copy; @DateTime.Now.Year
    </footer>
    @RenderSection("Scripts",false)
</body>
</html>
